
* {
    font: "Monaspace Neon NF Regular 14";
}


// Catppuccin colors

* {
    background:     #1E1D2F;
    background-alt: #282839;
    foreground:     #E9F0FF;
    selected:       #7AA2F7;
    active:         #ABE9B3;
    urgent:         #F28FAD;
}
